/vendor
/.env
/.env.backup
/.env.production
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/horizon/*
/nova/*
/phpunit.xml
/public/hot
/public/storage
/public/build
/public/css/app.css
/public/js/app.js
/storage/logs/laravel.log
